/* Fonts
---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Playball');

/* Box Sizing Fix
---------------------------*/
*,
*:before,
*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Global Styles
---------------------------*/
html, body {
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#brand {
	font-family: 'Playball', cursive;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Layout Styles
---------------------------*/
.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	padding: 1em;
}

/* Header Styles
---------------------------*/
header {
	display: grid;
	grid-template-columns: 1fr 100px 40px;
	grid-gap: 5px;
}

#search-form p {
	display: inline;
	margin: 0;
	padding-top: 10px;
}

/* Navigation Styles
---------------------------*/

.active {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.nav-bar {
/*	display: none;*/
	text-transform: uppercase;
	font-size: .8em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
