{% extends "base.html" %}
{% load static %}

{% block title %}
Home | Events
{% endblock %}


{% block content %}
<!--// Intro -->
<section>
	<div>
		<h2>Be Involved</h2>
		<p id="lead">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia viverra ante, vitae vehicula lacus tincidunt non. Pellentesque ut vestibulum libero. Aenean suscipit convallis sagittis. Aliquam nec turpis a est molestie tincidunt. In hac habitasse platea dictumst. Etiam aliquam turpis ante, et ornare eros pharetra nec. Sed magna dolor, condimentum non congue non, consectetur vel nulla. Praesent turpis magna, commodo congue nulla non, pulvinar vestibulum nibh. Pellentesque a blandit tortor, quis laoreet odio. Ut et sapien feugiat risus rhoncus rutrum. Vivamus sed mollis dolor, id scelerisque augue. Aliquam varius eget massa nec pharetra. Morbi dignissim turpis urna, blandit tempor dui varius a. Praesent ultrices, lorem viverra hendrerit fringilla, velit erat commodo massa, non semper ligula neque eu lacus. Nam venenatis ipsum tellus, in pharetra ipsum varius eu. Maecenas eu ultricies tellus, et ullamcorper tellus.
		</p>
	</div>
</section>
{% endblock %}